*{margin:0;padding:0;}
/*.test{width:200px;height:200px;margin:100px;background-color:-webkit-gradient(linear,0% 0%,0% 100%,from(red),to(black));}
*/
body{
    background:#000;
}

.indexHead{
    width:100%;
    height:200px;
}
.enlargeNav{
    display:inline-block;
    width:80px;
    height:30px;
    line-height:30px;
    border:1px inset transparent;
    margin-left:10px;
}
.redChange {
    background: -webkit-gradient(linear,left top,left bottom, color-stop(0, red), color-stop(1, #440202));
    background:-moz-linear-gradient(top, red, #440202);
    /*background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #ff4f02), color-stop(1, #8f2c00));*/
}

.navText {
    text-decoration: none;
    color:#fff;
    font-weight:bold;
    text-align:center;
}

.artcleHead{
    height:60px;
    background:#420503;
}

.artcleTitle{
    color:#fff;
}

.artcleFont{
    color:#AF3F08;
}

.choosenNav{
    background: -webkit-gradient(linear,left top,left bottom, color-stop(0, black), color-stop(1, darkgray));
    background:-moz-linear-gradient(top, black, darkgray);
    border-color:black;
}